*.fa
*.stdout
RAxML_distances.1000_by_10_step_2_random_walk_distances.csv
RAxML_distances.1000_by_10_random_walk_distances.csv
RAxML_distances.1000_by_10_random_walk_distances_step_5.csv
RAxML_distances.reps.dist
RAxML_distances.2.60.40.10.dist
RAxML_distances.full_relabelled.dist
